body{
    font-family: sans-serif;
}

table{
    border-collapse: collapse;
    width: 500px;
}

caption{
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(143, 142, 142);
    color: white;
}
th,td{
    border: 1px solid black;
}

thead th{
    background-color: rgb(143, 142, 142);
    color: white;
    font-weight: 900;
}

.area{
    background-color: white;
    color: black;
}

tbody th{
    background-color: rgb(143, 142, 142);
    color: white;
}

tbody td{
    text-align: center;
}

#media1{
    background-color: rgb(143, 142, 142);
    color: white;
    font-weight: bolder;
}

#media2{
    background-color: rgb(143, 142, 142);
    color: white;
    font-weight: bolder;
}