@charset "UTF-8";

/*Para as demais midias*/
/*Typical Device Breakpoints
-----------------------------
Telas pequenas (640px para baixo)
Celulares (640px até 768px)
Tablets (768px até 1024px)
Computadores (1024px até 1200px)
Telas grandes (1280px para cima)
*/

@media print {
    main h1{
        color: black;
        text-shadow: 2px 2px 3px rgb(78, 78, 78);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }

    main{
        border: 5px solid black;
    }
    img#celular {display: none;}
    img#tablet {display: none;}
    img#impressora {display: block;}
    img#tv {display: none;}
    img#pc {display: none;}

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#celular {display: none;}
    img#tablet {display: block;}
    img#impressora {display: none;}
    img#tv {display: none;}
    img#pc {display: none;}
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#celular {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#tv {display: none;}
    img#pc {display: block;}
}

@media  screen and (min-width:1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#celular {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#tv {display: block;}
    img#pc {display: none;}
}


    