@charset "UTF-8";

/*Versão mobile first*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main{
    background-color: rgba(255, 255, 255, 0.712);
    width: 90vw;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
}

h1{
    font-size: 2em;
    text-align: center;
    text-shadow:2px 2px 5px rgba(102, 101, 101, 0.692);
}

img{
    display: block;
    margin: auto;
}

img#celular {display: block;}
img#tablet {display: none;}
img#impressora {display: none;}
img#tv {display: none;}
img#pc {display: none;}

