h1{   /*Se remover a linha border,a image some */
    border: 20px solid transparent; /*LEMBRETE!!! Nao pode remover essa linha*/
    padding: 10px;
    border-image-source: url('../imagens/borda.png');
    border-image-slice: 27; /*Slice = fatiamente/Corte da imagem*/
    border-image-repeat: repeat;
    /*ShortHand do border image
      border-image: url('borda.png') 27 repeat;
    */
}