*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(119, 116, 116);
}
header{
    margin: auto;
    padding: 10px;
    width: 90%;
    background-color: lightgrey;
    border-radius: 10px;
}
nav{
    box-shadow: 4px 2px 1px #2f2f2f;
    width: 25%;
    background-color: rgb(97, 97, 97);
}
nav > a{

    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 50px;
    padding: 1px;
    
}

main > article{
    margin: auto;
}

a:hover{
    color: lightslategrey;
    text-decoration: underline;
}


article{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    height: 150px;
    margin-top: 10px;
    margin-left:96px ;
    border-radius: 5px;
    width: 600px;
    background-color: lightgrey;
}

article > h3{
    font-size: 1.3em;
}
#artigo2{
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: 200;
}
article > aside{
    font-weight: bold;
    font-size:20px;
    margin-top: 10px;
}

footer{
    width: 100%;
    position: absolute;
    height: 2em;
    bottom: 0%;
    text-align: center;
    color: white;
    background-color: black;
}
