@charset "UTF-8";
 *{
    
    font-family: 'Courier New', Courier, monospace;
 }
 
body{
    background-image: linear-gradient(to right, #264775 10%, #EADBC6);
 }
main{
    margin-left: 15px;
    background-color: white;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #47433d; /*O primeiro parametro direita, segundo parametro para baixo, terceiro parametro expalhamento e ultimo a cor*/
}
h1{
    text-align: center;
    text-shadow: 1px 1px 10px #569dff;
}
h1,h2{
    text-shadow: 1px 1px 10px #569dff;
    padding: 5px;
    color: #0D1827;
    margin-bottom: 10px;
}

p{
    padding: 10px;
    color: black;
    text-align: justify;
 }
