body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 600px;
    height: 600px;
    border-collapse: collapse; /*Propriedade onde voce pode separar as bordas ou deixar elas coladas*/
}


td{
    border: 2px solid;
    padding: 8px;
    vertical-align:top ; /*Alinhamento Vertical*/
    text-align: center; /*Alinhamento horizontal*/
}

tr{
    font-size: 30px;
    font-weight: bolder;
}

.linha1{
    background-color: lightgray;
}
.linha2{
    background-color: rgb(117, 117, 117);
}
.linha3{
    background-color: rgb(66, 66, 66);
}

#a1:hover{
    background-color: red;
}
#b1:hover{
    background-color: blue;
}
#c1:hover{
    background-color: green;
}